:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0 !important;
}

@font-face {
  font-family: "Marcellus SC";
  src: url("./assets/fonts/MarcellusSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre Bodoni";
  src: url("./assets/fonts/LibreBodoni-VariableFont_wght.ttf")
    format("truetype");
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
